**.idea/
**.vscode/
**.vite/

# Dependencias de Node.js (Vue.js)
**/node_modules/
**/.pnpm-store/
**/pnpm-lock.yaml

# Archivos de log y caché
*.log
*.cache
*.bak
*.pdf

# Archivos temporales del sistema
*.swp
*~
